<!DOCTYPE html>
<html>
<head>
  <title>Helpout</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <!-- CSS  -->
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <link href="assets/stylesheets/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="assets/stylesheets/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>

  <%= csrf_meta_tags %>


</head>
<body>

  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo">Logo</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Navbar Link</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
    </div>
  </nav>
<%= yield %>
</body>
<footer>
	  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

</footer>
</html>
